force-app/main/default/flows/Update_Contact_in_WFH_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Total_WFH_Days_In_Contact</name>
        <label>Update Total WFH Days In Contact</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Contacts.Total_No_Of_WFH_Days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.No_of_WFH_Days__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_WFH_Request_Contact</name>
        <label>Check WFH Request Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Contact_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_in_WFH_Request</targetReference>
            </connector>
            <label>If Contact Is Null</label>
        </rules>
        <rules>
            <name>If_WFH_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_WFH_Days_In_Contact</targetReference>
            </connector>
            <label>If WFH Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contact in WFH Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact in WFH Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WFH_Request_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_in_WFH_Request</name>
        <label>Update Contact in WFH Request</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Related_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Related_Contacts</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
        <object>Work_From_Home_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
