force-app/main/default/flows/user_creation_for_cq_employee_portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_for_existing_user_name</name>
        <label>email for existing user name</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>This user name already exists. please try again with different user name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>preethacq@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>user name already exist</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail_If_no_License_available</name>
        <label>Send Mail If no License available</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>user not created because of no available license</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>preethacq@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>User not created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>submit_for_approval</name>
        <label>submit for approval</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>employee_application_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <outputParameters>
            <assignToReference>approvalId</assignToReference>
            <name>entityId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_contact_records</name>
        <label>Assign contact records</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Contactrecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.Date_of_Joining__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_of_Joining__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactrecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone_no__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_user</name>
        <label>assign values to user</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>Userrecord.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_profiles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asia/Kolkata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsernameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Userrecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contactrecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_user1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_contact_records</name>
        <label>update contact records</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Contactrecord.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Userrecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>approval_or_user_creation</name>
        <label>approval or user creation</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>send_for_approval_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submit_for_approval</targetReference>
            </connector>
            <label>send for approval approval</label>
        </rules>
        <rules>
            <name>user_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Employee_record</targetReference>
            </connector>
            <label>user creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Enough_license</name>
        <label>check Enough license</label>
        <locationX>644</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_Mail_If_no_License_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_license</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableLicenseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_username</targetReference>
            </connector>
            <label>Available license</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_username_exist_or_not</name>
        <label>Check username exist or not</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>email_for_existing_user_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>username_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_username</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_profiles</targetReference>
            </connector>
            <label>username exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AvailableLicenseCount</name>
        <dataType>Number</dataType>
        <expression>{!Get_user_license.TotalLicenses} - {!Get_user_license.UsedLicenses}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UsernameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email__c} + &apos;.cq&apos;</expression>
    </formulas>
    <interviewLabel>user creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>user creation for cq employee portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_user_license</targetReference>
        </connector>
        <inputReference>Contactrecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Employee_record</name>
        <label>Create Employee record</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_account_id</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Joining__c</field>
            <value>
                <elementReference>$Record.Date_of_Joining__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>$Record.Employee_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_No__c</field>
            <value>
                <elementReference>$Record.Phone_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>$Record.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_user1</name>
        <label>create user 1</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>update_contact_records</targetReference>
        </connector>
        <inputReference>Userrecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>check_username</name>
        <label>check username</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_username_exist_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsernameFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_account_id</name>
        <label>Get account id</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cynosure Quest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_profiles</name>
        <label>get profiles</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_values_to_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CQ Customer Community Login</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_license</name>
        <label>Get user license</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Enough_license</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Community Login</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact</name>
        <label>update contact</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <inputReference>Contactrecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>approval_or_user_creation</targetReference>
        </connector>
        <object>Employee_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>approvalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contactrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Userrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
